body { 
    padding-top: 10%;
    background-color: #A0BFE0;
}

.heading {
    text-align: center;
}

.tasks {
    padding: 2% 30%;
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
.logo {
    width: 30px;
    height: 30px;
    transition: transform 0.5s;
  }

.logo:hover {
    transform: rotate(360deg);
  }